<h2>All Tips/Tricks</h2>

<div class='container'>
<div class="row">
  <div class="col-sm-12">
    <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post.id) %>(<%= post.user.name %>)
      </li>
    <% end %>
    </ul>

  </div>
</div>


</div>
